*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@import'./fonts';

body{
    font-family: $main-font;
}

/*variable para color header*/
$color-header1: rgb(13, 0, 128);
$colorheader2: white;
/*variable para color header*/

/* componentes*/
@import'./components/header';
@import'./components/main';
@import'./components/footer.scss';

/* componentes*/

/* mapas */
@import './base/mapas';
/* mapas */


/* extends */
@import 'base/extends';

/* extends */

/* mixins */
@import 'base/mixins';
/* mixins */
