$seguinos:(
    instagram: 3rem,
    facebook: 3rem,
);

@each $var, $radio in $seguinos {
    .btn-#{$var}{
        border-radius:  $radio;
    }
}

$mapa: (
    txt-color: black,
    txt-aling-c: center,
    color-footer: rgba(128, 128, 128, 0.486),
    padd: 1rem,
);

footer{
    background-color: map-get($mapa, color-footer);
    color: map-get($mapa, txt-color);
    text-align: map-get($mapa, txt-aling-c );
    padding: map-get($mapa, padd ) ;
    
}
 